    <!-- START GREEN DOT FOOTER - FULL BLOCK -->
    <footer class="page-footer" role="contentinfo">
      <div class="page-footer__inner">
        <div class="page-footer__links">
          <div class="page-footer__link-section">
            <button class="page-footer__link-heading js-page-footer-link-heading">
              <span class="page-footer__link-heading-text tnt tnt-link-heading-text1">RELOADABLE DEBIT CARDS</span>
              <svg class="page-footer__link-heading-arrow" aria-hidden="true">
                <use xlink:href="#icon-chevron-down"></use>
              </svg>
            </button>
            <div class="page-footer__link-list js-page-footer-link-list">
              <div class="page-footer__link-list-inner js-page-footer-link-list-inner">
                <a class="page-footer__link tnt tnt-footer-link1" href="/our-products/visa-rewards-card">CASH BACK
                  DEBIT CARD</a>
                <a class="page-footer__link tnt tnt-footer-link2" href="/our-products/new-everyday">PREPAID CARD</a>
                <a class="page-footer__link tnt tnt-footer-link3 js-append-query" href="https://www.greendot.com/signup">OPEN
                  AN ACCOUNT</a>
                <a class="page-footer__link tnt tnt-footer-link4 js-append-query" href="https://www.greendot.com/register">REGISTER
                  CARD</a>
                <a class="page-footer__link tnt tnt-footer-link5 js-append-query" href="https://www.greendot.com/greendot/account/activate-card">ACTIVATE
                  CARD</a>
                <a class="page-footer__link tnt tnt-footer-link6" href="https://www.greendot.com/help/how-to-videos">HOW-TO
                  VIDEOS</a>
                <a class="page-footer__link tnt tnt-footer-link7" href="/how-it-works">HOW IT WORKS</a>
              </div>
            </div>
          </div>
          <div class="page-footer__link-section">
            <button class="page-footer__link-heading js-page-footer-link-heading">
              <span class="page-footer__link-heading-text tnt tnt-link-heading-text2">SERVICES &amp; FEATURES</span>
              <svg class="page-footer__link-heading-arrow" aria-hidden="true">
                <use xlink:href="#icon-chevron-down"></use>
              </svg>
            </button>
            <div class="page-footer__link-list js-page-footer-link-list">
              <div class="page-footer__link-list-inner js-page-footer-link-list-inner">
                <a class="page-footer__link tnt tnt-footer-link8" href="/how-it-works/add-money">DEPOSIT MONEY</a>
                <a class="page-footer__link tnt tnt-footer-link9" href="/how-it-works/add-money/direct-deposit">DIRECT
                  DEPOSIT</a>
                <a class="page-footer__link tnt tnt-footer-link10" href="/how-it-works/add-money/reload-at-register">ADDING
                  CASH</a>
                <a class="page-footer__link tnt tnt-footer-link11" href="/how-it-works/add-money/deposit-checks-smart-phone">MOBILE
                  DEPOSIT</a>
                <a class="page-footer__link tnt tnt-footer-link12" href="/how-it-works/send-receive-money/personal-checks">PERSONAL
                  CHECKS</a>
                <a class="page-footer__link tnt tnt-footer-link13" href="/how-it-works/add-money/ach-bank-transfers">BANK
                  TRANSFER</a>
                <a class="page-footer__link tnt tnt-footer-link14" href="/how-it-works/manage-money/online-bill-pay">ONLINE
                  BILL PAY</a>
                <a class="page-footer__link tnt tnt-footer-link15" href="/how-it-works/send-receive-money">SEND &
                  RECEIVE MONEY</a>
                <a class="page-footer__link tnt tnt-footer-link16" href="/how-it-works/manage-money/mobile-banking-app">MOBILE
                  APP</a>
                <a class="page-footer__link tnt tnt-footer-link17" href="/how-it-works/add-money/moneypak">MONEYPAK</a>
              </div>
            </div>
          </div>
          <div class="page-footer__link-section">
            <button class="page-footer__link-heading js-page-footer-link-heading">
              <span class="page-footer__link-heading-text tnt tnt-link-heading-text3">FOR CARDHOLDERS</span>
              <svg class="page-footer__link-heading-arrow" aria-hidden="true">
                <use xlink:href="#icon-chevron-down"></use>
              </svg>
            </button>
            <div class="page-footer__link-list js-page-footer-link-list">
              <div class="page-footer__link-list-inner js-page-footer-link-list-inner">
                <a class="page-footer__link tnt tnt-footer-link18 js-append-query" href="https://www.greendot.com/greendot/login">LOG
                  IN</a>
                <a class="page-footer__link tnt tnt-footer-link19" href="https://www.attheregister.com/locations">RELOAD
                  LOCATIONS</a>
                <a class="page-footer__link tnt tnt-footer-link20" href="/how-it-works/manage-money/sms-text-account-alerts">ACCOUNT
                  ALERTS</a>
                <a class="page-footer__link tnt tnt-footer-link21" href="/about/legal#legal-pp">PRIVACY</a>
                <a class="page-footer__link tnt tnt-footer-link22" href="https://www.aboutads.info/choices/">AD CHOICES</a>
                <a class="page-footer__link tnt tnt-footer-link23" href="/about/legal">LEGAL INFO</a>
              </div>
            </div>
          </div>
          <div class="page-footer__link-section">
            <button class="page-footer__link-heading js-page-footer-link-heading">
              <span class="page-footer__link-heading-text tnt tnt-link-heading-text4">GREEN DOT</span>
              <svg class="page-footer__link-heading-arrow" aria-hidden="true">
                <use xlink:href="#icon-chevron-down"></use>
              </svg>
            </button>
            <div class="page-footer__link-list js-page-footer-link-list">
              <div class="page-footer__link-list-inner js-page-footer-link-list-inner">
                <a class="page-footer__link tnt tnt-footer-link24" href="https://www.greendot.com/blog/">BLOG</a>
                <a class="page-footer__link tnt tnt-footer-link25" href="/about">ABOUT US</a>
                <a class="page-footer__link tnt tnt-footer-link26" href="/help">HELP & FAQ'S</a>
                <a class="page-footer__link tnt tnt-footer-link27" href="/about/contact-us">CONTACT US</a>
                <a class="page-footer__link tnt tnt-footer-link28" href="/about/reviews">TESTIMONIALS</a>
                <a class="page-footer__link tnt tnt-footer-link32" href="/baas/">PARTNER</a>
                <a class="page-footer__link tnt tnt-footer-link29" href="http://ir.greendot.com/phoenix.zhtml?c=235286&p=irol-irhome">INVESTOR
                  RELATIONS</a>
                <a class="page-footer__link tnt tnt-footer-link30" href="http://careers.greendot.com/">CAREERS</a>
                <a class="page-footer__link tnt tnt-footer-link31" href="/about/docs/StateLicensingNotices(8-2018).pdf">STATE
                  LICENSING NOTICES</a>
              </div>
            </div>
          </div>
        </div>
        <div class="page-footer__copy">
          Apple, the Apple logo, and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries.
          App Store is
          a service mark of Apple Inc.
          <br> Google, Android and Google Play are trademarks of Google Inc., registered in the U.S. and other
          countries.
          <br>
          <br> Prepaid cards are not available to Vermont residents.
          <br>
          <br> Cards provided by Green Dot Corporation. The MasterCard Card is issued by Green Dot Bank pursuant to a
          license from
          MasterCard International Incorporated. The Visa Card is issued by Green Dot Bank pursuant to a license from
          Visa U.S.A
          Inc. Green Dot Corporation is a member service provider for Green Dot Bank, Member FDIC. MasterCard and the
          MasterCard
          Brand Mark are registered trademarks of MasterCard International Incorporated. Visa is a registered trademark
          of Visa
          International Service Association. Green Dot is a registered trademark of Green Dot Corporation.
          <br>
          <br>Green Dot Bank operates under the following registered trade names: GoBank, Green Dot Bank and Bonneville
          Bank. All
          of these registered trade names are used by, and refer to, a single FDIC-insured bank, Green Dot Bank.
          Deposits under
          any of these trade names are deposits with Green Dot Bank and are aggregated for deposit insurance coverage.
        </div>
        <div class="page-footer__social">
          <div class="page-footer__social-inner">
            <div class="page-footer__social-heading">Follow us on</div>
            <a class="page-footer__social-link" href="https://www.facebook.com/GreenDot">
              <svg class="page-footer__social-icon" role="img" aria-label="Facebook icon">
                <use xlink:href="#icon-facebook-circle"></use>
              </svg>
            </a>
            <a class="page-footer__social-link" href="https://instagram.com/greendotcards">
              <svg class="page-footer__social-icon" role="img" aria-label="Instagram icon">
                <use xlink:href="#icon-instagram-circle"></use>
              </svg>
            </a>
            <a class="page-footer__social-link" href="https://youtube.com/GreenDotPrepaid">
              <svg class="page-footer__social-icon" role="img" aria-label="YouTube icon">
                <use xlink:href="#icon-youtube-circle"></use>
              </svg>
            </a>
            <a class="page-footer__social-link" href="https://twitter.com/greendotcards">
              <svg class="page-footer__social-icon" role="img" aria-label="Twitter icon">
                <use xlink:href="#icon-twitter-circle"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="page-footer__app-download">
          <a class="page-footer__app-download-badge page-footer__app-download-badge--ios" href="https://itunes.apple.com/us/app/green-dot/id437092808?mt=8"></a>
          <a class="page-footer__app-download-badge page-footer__app-download-badge--android" href="https://play.google.com/store/apps/details?id=com.cardinalcommerce.greendot&amp;hl=en"></a>
        </div>
        <div class="page-footer__copyright flex-fixed flex page-footer__justify page-footer--gdb">
          <div>
            <svg class="page-footer__copyright-dot" role="img" aria-label="Green Dot logo">
              <use xlink:href="#icon-circle"></use>
            </svg>© 2003-
            <script>document.write(new Date().getFullYear())</script> Green Dot Corporation
          </div>
          <div class="page-footer__logo-secondary"></div>
        </div>
      </div>
    </footer>
    <!-- END GREEN DOT FOOTER - FULL BLOCK -->