<!-- START GREEN DOT HEADER - FULL BLOCK -->
<header class="page-header js-page-header page-header--full js-page-header-full page-header--brands-on page-header"
  role="banner">
  <div class="page-header__notification js-page-header-notification">
    <div class="page-header__notification-copy">
      <a class="page-header__notification-link" href="https://www.greendot.com/how-it-works/add-money/tax-refund-center?utm_source=HPTop&utm_medium=InternalLink&utm_content=TopBar">Get
        a $25 Tax Refund Reward - Click here for more info</a>
    </div>
    <button class="page-header__notification-close-button js-page-header-notification-close-button" aria-label="Close notification">
      <svg class="page-header__notification-close-icon" aria-hidden="true">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="page-header__brands">
    <div class="page-header__brands-inner">
      <button class="page-header__brands-menu-button js-page-header-brands-menu-button">Our Products
        <svg class="page-header__brands-menu-button-arrow" aria-hidden="true">
          <use xlink:href="#icon-chevron-down"></use>
        </svg>
      </button>
      <button class="page-header__brands-close-button js-page-header-brands-close-button">
        <svg class="page-header__brands-close-button-icon" role="img" aria-label="Close Our Brands">
          <use xlink:href="#icon-close-circle"></use>
        </svg>
      </button>
    </div>
    <nav class="page-header__brands-navigation js-page-header-brands-navigation">
      <a class="page-header__brands-navigation-link" href="https://secure.greendot.com/signup?utm_source=HP-CS-SF-1&amp;utm_medium=InternalLink">
        <div class="page-header__brands-navigation-link-subheading">Cash Back</div>
        <div class="page-header__brands-navigation-link-heading">Debit Card</div>
      </a>
      <a class="page-header__brands-navigation-link" href="https://secure.greendot.com/signup/?Card=sfevc&amp;utm_source=HP-CS-OS-1&amp;utm_medium=InternalLink">
        <div class="page-header__brands-navigation-link-subheading">Reloadable</div>
        <div class="page-header__brands-navigation-link-heading">Prepaid Card</div>
      </a>
      <a class="page-header__brands-navigation-link" href="https://www.greendot.com/platinum?utm_source=HP-CS-1&amp;utm_medium=InternalLink">
        <div class="page-header__brands-navigation-link-subheading">Platinum</div>
        <div class="page-header__brands-navigation-link-heading">Credit Card</div>
      </a>
      <a class="page-header__brands-navigation-link" href="https://www.moneypak.com?utm_source=HP-CS-1&amp;utm_medium=InternalLink">
        <div class="page-header__brands-navigation-link-subheading">&nbsp;</div>
        <div class="page-header__brands-navigation-link-heading">MoneyPak</div>
      </a>
      <a class="page-header__brands-navigation-link" href="https://www.greendot.com/how-it-works/add-money/tax-refund-center">
        <div class="page-header__brands-navigation-link-subheading">Get your</div>
        <div class="page-header__brands-navigation-link-heading">Tax Refund Fast</div>
      </a>
      <a class="page-header__brands-navigation-link page-header__brands-navigation-link--right" href="/baas/">
        <div class="page-header__brands-navigation-link-subheading"> </div>
        <div class="page-header__brands-navigation-link-heading">Banking as a Service</div>
      </a>
    </nav>
  </div>
  <div class="page-header__inner js-page-header-inner">
    <a class="page-header__logo" href="/" aria-label="Home"></a>
    <div class="page-header__menu">
      <a class="page-header__menu-login js-append-query" routerLink="/home">Home
      </a>
      &nbsp;&nbsp;&nbsp;
      <a class="page-header__menu-login js-append-query"
        routerLink="/signup">Register Card</a>
    </div>
  </div>
  <nav class="page-navigation js-page-navigation" role="navigation">

    <div class="page-navigation__item">
      <a class="page-navigation__item-link tnt tnt-nav-link1" routerLink="/home">Home</a>
    </div>
    <svg class="page-navigation__divider" aria-hidden="true">
      <use xlink:href="#icon-circle"></use>
    </svg>
    <div class="page-navigation__buttons">
      <a class="page-navigation__btn page-navigation__btn--cta-secondary tnt tnt-nav-button1 js-append-query"
        routerLink="/signup">Register
        Card</a>
    </div>
  </nav>
</header>
<!-- END GREEN DOT HEADER - FULL BLOCK -->