<div class="page-container">
  <main class="page-main" role="main" id="page-main">
    <!-- START HERO - CTA LIST BLOCK -->
    <section class="js-hero bg-color-white gap-bottom-zero hero--hide-arrow js-adobe-target-hero-default">
      <div class="hero__image-container">
        <picture class="hero__image js-hero-image tnt tnt-image">
          <source media="(min-width: 1280px)" srcset="/assets/img/greendot-a-new-kind-of-bank-character-2560x900.jpg, /assets/img/greendot-a-new-kind-of-bank-character-5120x1800.jpg 2x">
          <source media="(min-width: 1144px)" srcset="/assets/img/greendot-a-new-kind-of-bank-character-1144x650.jpg, /assets/img/greendot-a-new-kind-of-bank-character-2288x1300.jpg 2x">
          <source media="(min-width: 768px)" srcset="/assets/img/greendot-a-new-kind-of-bank-character-768x450.jpg, /assets/img/greendot-a-new-kind-of-bank-character-1536x900.jpg 2x">
          <source media="(min-width: 375px)" srcset="/assets/img/greendot-a-new-kind-of-bank-character-375x600.jpg, /assets/img/greendot-a-new-kind-of-bank-character-750x1200.jpg 2x">
          <source srcset="/assets/img/greendot-a-new-kind-of-bank-character-320x600.jpg, /assets/img/greendot-a-new-kind-of-bank-character-640x1200.jpg 2x"><img
            class="js-hero-image-img" src="/assets/img/greendot-a-new-kind-of-bank-character-1144x650.jpg" alt="Green Dot - A New Kind of Bank">
        </picture>
      </div>
      <div class="hero__content">
        <div class="hero__content-inner">
          <h1 class="hero__heading tnt tnt-heading"><strong>A new kind of bank</strong><a class="hero__heading-link-small"
              href="#"></a>
          </h1>
          <p class="hero__copy tnt tnt-copy"></p>
          <a class="hero__cta tnt tnt-cta btn--width-medium js-append-query" href="https://secure.greendot.com/signup?utm_source=GDTHP_Hero_F2D&utm_medium=InternalLink&utm_campaign=Smart&utm_content=Hero">Get
            Started</a>
          <a class="hero__cta-secondary tnt tnt-cta-secondary" href="https://m2.greendot.com/locate">Or, find it at
            stores nationwide</a>
          <div class="hero__disclaimer-copy"></div>
        </div>
        <button class="hero__arrow js-hero-arrow" title="Scroll to next section">
          <svg class="hero__arrow-icon" role="img" aria-label="Arrow down">
            <use xlink:href="#icon-chevron-down"></use>
          </svg>
        </button>
      </div>
    </section>
    <!-- END HERO - CTA LIST BLOCK -->

    <!-- ****************************** -->
    <!-- BEGIN PROMO BLOCK B1: 2 Column Image left -->
    <!-- ****************************** -->

    <!-- START TWO COLUMN IMAGE LEFT BLOCK -->
    <section class="two-column-text-image-pair bg-color-darker js-adobe-target-banner-dd">
      <div class="grid-container two-column-text-image-pair__content">
        <div class="column small-4 medium-4 large-6 two-column-text-image-pair__flex-container two-column-text-image-pair__flex-container--first">
          <picture class="two-column-text-image-pair__image tnt tnt-image">
            <source media="(min-width: 1144px)" srcset="/assets/img/gd-bts-homepage-banner-asap-dd-525x330.png, /assets/img/gd-bts-homepage-banner-asap-dd-1050x660.png 2x">
            <source media="(min-width: 768px)" srcset="/assets/img/gd-bts-homepage-banner-asap-dd-342x215.png, /assets/img/gd-bts-homepage-banner-asap-dd-684x430.png 2x">
            <source media="(min-width: 375px)" srcset="/assets/img/gd-bts-homepage-banner-asap-dd-290x182.png, /assets/img/gd-bts-homepage-banner-asap-dd-580x364.png 2x">
            <source srcset="/assets/img/gd-bts-homepage-banner-asap-dd-290x182.png, /assets/img/gd-bts-homepage-banner-asap-dd-580x364.png 2x"><img
              src="/assets/img/gd-bts-homepage-banner-asap-dd-525x330.png" alt="ASAP Direct Deposit. Get your pay up to 2 days before payday.
Get your government benefits up to 4 days before benefits day.">
          </picture>
        </div>
        <div class="column small-4 medium-4 large-6 two-column-text-image-pair__flex-container two-column-text-image-pair__flex-container--last">
          <h4 class="two-column-text-image-pair__heading tnt tnt-heading type-align-center">Get your pay up to
            <strong>2 days</strong> before payday.<br>Get your government benefits up to <strong>4 days</strong>
            before benefits day.</h4>
          <p class="type-align-center gap-top-zero"><a href="https://www.greendot.com/how-it-works/add-money/direct-deposit?utm_source=GDTHP_DD&utm_medium=InternalLink&utm_campaign=Smart&utm_content=banner"
              style="text-decoration:underline;">Learn More</a></p>
          <a class="two-column-text-image-pair__cta tnt tnt-cta btn btn--width-medium center block gap-top-medium" href="https://secure.greendot.com/signup?utm_source=GDTHP_DD&utm_medium=InternalLink&utm_campaign=Smart&utm_content=banner">OPEN
            A NEW ACCOUNT</a>
          <div class="two-column-text-image-pair__disclaimer-copy gap-top-medium">Timing depends on deposit
            verification and when we get notice from your employer, and may vary from pay period to pay period. But
            when we get it, you’ll get it.</div>
        </div>
      </div>
    </section>
    <!-- END TWO COLUMN IMAGE LEFT BLOCK -->

    <!-- ****************************** -->
    <!-- END PROMO BLOCK B1: 2 Column Image left -->
    <!-- ****************************** -->

    <!-- START MODULE CONTAINER - TWO COLUMN BLOCK -->
    <section class="module-container module-container--two-column module-container--first-column-one-third bg-color-dark pad-top-xlarge pad-bottom-large js-adobe-target-banner-cashback hidden">
      <div class="module-container__content">
        <div class="module-container__content-inner">
          <div class="module-container__content-inner-column module-container__content-inner-column--first">
            <!-- ADD MODULES HERE -->
            <!-- START IMAGE - ONE THIRD MODULE-->
            <picture class="image">
              <source media="(min-width: 1144px)" srcset="/assets/img/greendot-cash-back-visa-debit-card-340x191.jpg, /assets/img/greendot-cash-back-visa-debit-card-680x382.jpg 2x">
              <source media="(min-width: 768px)" srcset="/assets/img/greendot-cash-back-visa-debit-card-220x124.jpg, /assets/img/greendot-cash-back-visa-debit-card-440x248.jpg 2x">
              <source media="(min-width: 375px)" srcset="/assets/img/greendot-cash-back-visa-debit-card-340x191.jpg, /assets/img/greendot-cash-back-visa-debit-card-680x382.jpg 2x">
              <source srcset="/assets/img/greendot-cash-back-visa-debit-card-290x163.jpg, /assets/img/greendot-cash-back-visa-debit-card-580x326.jpg 2x"><img
                src="/assets/img/greendot-cash-back-visa-debit-card-340x191.jpg" alt="Green Dot Cash Back Visa Debit Card">
            </picture>
            <!-- END IMAGE - ONE THIRD MODULE-->
          </div>
          <div class="module-container__content-inner-column module-container__content-inner-column--second">
            <!-- ADD MODULES HERE -->
            <!-- START TEXT - H4 MODULE-->
            <h3 class="text type-xlarge type-align-center gap-bottom-small">Earn 5% Cash Back
            </h3>
            <!-- END TEXT - H4 MODULE-->
            <!-- START TEXT - H4 MODULE-->
            <p class="text type-medium type-align-center">on everyday purchases, up to $100 every year. <a href="https://www.greendot.com/our-products/visa-rewards-card">Learn
                More</a>
            </p>
            <!-- END TEXT - H4 MODULE-->

            <a href="https://secure.greendot.com/signup?utm_source=GDTHP_Cashback&utm_medium=InternalLink&utm_campaign=Smart&utm_content=banner">
              <!-- START BUTTON MODULE-->
              <button class="btn btn--primary btn btn--width-medium center block">Open a new account</button>
              <!-- END BUTTON MODULE-->
            </a>
            <!-- START TEXT - PARAGRAPH MODULE-->
            <p class="text type-xxsmall type-align-center gap-top-medium">Fees apply.
            </p>
            <!-- END TEXT - PARAGRAPH MODULE-->
          </div>
        </div>
      </div>
    </section>
    <!-- END MODULE CONTAINER - TWO COLUMN BLOCK -->

    <!-- START MODULE CONTAINER BLOCK -->
    <section class="module-container bg-color-white pad-bottom-zero js-adobe-target-banner-tv hidden">
      <div class="module-container__content">
        <div class="module-container__content-inner">
          <!-- ADD MODULES HERE -->
          <!-- START DIVIDER - HEADING BLOCK -->
          <div class="divider divider--heading">
            <div class="grid-container">
              <div class="column-all">
                <div class="divider__inner">
                  <div class="divider__decoration" aria-hidden="true">............................................................................................................................................................................................................................................................................</div>
                  <h2 class="divider__heading"><span class="divider__heading-inner tnt tnt-heading">Green Dot on TV</span></h2>
                </div>
              </div>
            </div>
          </div>
          <!-- END DIVIDER - HEADING BLOCK -->
          <!-- START VIDEO - VIMEO MODULE-->
          <div class="video video--large pad-top-medium">
            <iframe class="video__player js-video-player bg-color-white" src="https://player.vimeo.com/video/258677422"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <!-- END VIDEO - VIMEO MODULE-->
        </div>
      </div>
    </section>
    <!-- END MODULE CONTAINER BLOCK -->

    <!-- ******************** -->
    <!-- BEGIN BLOCK: Divider -->
    <!-- ******************** -->

    <!-- START DIVIDER - HEADING BLOCK -->
    <div class="divider divider--heading pad-top-xlarge  pad-bottom-zero gap-bottom-zero bg-color-white">
      <div class="grid-container">
        <div class="column-all">
          <div class="divider__inner">
            <div class="divider__decoration" aria-hidden="true">............................................................................................................................................................................................................................................................................</div>
            <h2 class="divider__heading"><span class="divider__heading-inner tnt tnt-heading">Why Green Dot</span></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- END DIVIDER - HEADING BLOCK -->

    <!-- ****************** -->
    <!-- END BLOCK: Divider -->
    <!-- ****************** -->


    <!-- START FOUR COLUMN FEATURE - ANCHOR BLOCK -->
    <section class="n-column-feature bg-color-white">
      <div class="grid-container">
        <!-- START 2 COLUMN FEATURE ROW -->
        <div class="column-spacer small-0 medium-0 large-1 large-break"></div>
        <div class="column small-4 medium-4 large-5"><a class="n-column-feature__inner" href="/how-it-works/add-money/direct-deposit">
            <div class="n-column-feature__image-container">
              <svg class="n-column-feature__icon tnt tnt-image1" role="img" aria-label="Early Direct Deposit icon">
                <use xlink:href="#icon-direct-deposit"></use>
              </svg>
            </div>
            <h4 class="n-column-feature__heading  tnt tnt-heading1">ASAP Direct Deposit™</h4>
            <p class="n-column-feature__copy  tnt tnt-copy1">Get your pay up to 2 days before payday! Get your
              government benefits up to 4 days before benefits day!</p>
          </a>
        </div>
        <div class="column small-4 medium-4 large-5"><a class="n-column-feature__inner" href="https://secure.greendot.com/signup?fl=ID&utm_term=redirect&utm_source=GDTHP_Smart&utm_medium=InternalLink&utm_content=Homepage">
            <div class="n-column-feature__image-container">
              <svg class="n-column-feature__icon tnt tnt-image2" role="img" aria-label="Sign Up icon">
                <use xlink:href="#icon-paid"></use>
              </svg>
            </div>
            <h4 class="n-column-feature__heading  tnt tnt-heading2">No overdraft fees</h4>
            <p class="n-column-feature__copy  tnt tnt-copy2">No overdraft or bounced check fees, ever</p>
          </a>
        </div><!-- END 2 COLUMN FEATURE ROW -->
        <!-- START 2 COLUMN FEATURE ROW -->
        <div class="column-spacer small-0 medium-0 large-1 large-break"></div>
        <div class="column small-4 medium-4 large-5"><a class="n-column-feature__inner" href="/our-products/visa-rewards-card">
            <div class="n-column-feature__image-container">
              <svg class="n-column-feature__icon tnt tnt-image3" role="img" aria-label="Wallet icon">
                <use xlink:href="#icon-wallet"></use>
              </svg>
            </div>
            <h4 class="n-column-feature__heading  tnt tnt-heading3">Earn 5% Cash Back</h4>
            <p class="n-column-feature__copy  tnt tnt-copy3">Earn 5% on purchases, up to $100 cash back annually,
              with the 5% Cash Back Visa Debit Card</p>
          </a>
        </div>
        <div class="column small-4 medium-4 large-5"><a class="n-column-feature__inner" href="https://m2.greendot.com/locate">
            <div class="n-column-feature__image-container">
              <svg class="n-column-feature__icon tnt tnt-image4" role="img" aria-label="Location icon">
                <use xlink:href="#icon-location"></use>
              </svg>
            </div>
            <h4 class="n-column-feature__heading  tnt tnt-heading4">Get it at a store near you</h4>
            <p class="n-column-feature__copy  tnt tnt-copy4">Find the Green Dot 5% Cash Back Visa Debit Card at
              stores nationwide</p>
          </a>
        </div><!-- END 2 COLUMN FEATURE ROW -->
        <div class="n-column-feature__disclaimer-copy">Fees apply. See <a href="https://www.greendot.com/about/docs/greendotrewardsdaa.pdf">Deposit
            Account Agreement</a>.</div>
      </div>
    </section>
    <!-- END FOUR COLUMN FEATURE - ANCHOR BLOCK -->

    <!-- START TWO COLUMN IMAGE LEFT BLOCK -->
    <section class="two-column-text-image-pair module-container--second-column-mobile-order-first">
      <div class="grid-container two-column-text-image-pair__content">
        <div class="column small-4 medium-4 large-6 two-column-text-image-pair__flex-container two-column-text-image-pair__flex-container--first">
          <picture class="two-column-text-image-pair__image tnt tnt-image">
            <source media="(min-width: 1144px)" srcset="/assets/img/greendot-cash-back-visa-debit-card-525x525.jpg, /assets/img/greendot-cash-back-visa-debit-card-1050x1050.jpg 2x">
            <source media="(min-width: 768px)" srcset="/assets/img/greendot-cash-back-visa-debit-card-342x342.jpg, /assets/img/greendot-cash-back-visa-debit-card-684x684.jpg 2x">
            <source media="(min-width: 375px)" srcset="/assets/img/greendot-cash-back-visa-debit-card-342x342.jpg, /assets/img/greendot-cash-back-visa-debit-card-684x684.jpg 2x">
            <source srcset="/assets/img/greendot-cash-back-visa-debit-card-290x290.jpg, /assets/img/greendot-cash-back-visa-debit-card-580x580.jpg 2x"><img
              src="/assets/img/greendot-cash-back-visa-debit-card-525x525.jpg" alt="Green Dot 5% Cash Back Visa Debit Card - Get 5% Cash back on all your purchases">
          </picture>
        </div>
        <div class="column small-4 medium-4 large-6 two-column-text-image-pair__flex-container two-column-text-image-pair__flex-container--last">
          <h4 class="two-column-text-image-pair__heading tnt tnt-heading type-align-center type-xlarge">5% Cash Back
            Visa&reg; Debit Card</h4>
          <h5 class="two-column-text-image-pair__subheading tnt tnt-subheading"></h5>
          <p class="two-column-text-image-pair__copy tnt tnt-copy type-align-center">Earn 5% cash back on all your
            purchases, up to $100 annually.</p>
          <a class="two-column-text-image-pair__cta tnt tnt-cta btn center block js-append-query" href="https://secure.greendot.com/signup?fl=ID&utm_term=redirect&utm_source=GDTHP_Smart&utm_medium=InternalLink&utm_content=Homepage">Get
            a Card</a>
          <div class="two-column-text-image-pair__disclaimer-copy font-light type-medium">Or, find Green Dot at <a href="https://m2.greendot.com/locate">stores
              nationwide</a></div>
        </div>
      </div>
    </section>
    <!-- END TWO COLUMN IMAGE LEFT BLOCK -->

    <!-- START MODULE CONTAINER - TWO COLUMN BLOCK -->
    <section class="module-container module-container--two-column module-container--second-column-one-third module-container--second-column-mobile-order-first bg-color-light pad-top-xxlarge pad-bottom-large">
      <div class="module-container__content">
        <div class="module-container__content-inner">
          <div class="module-container__content-inner-column module-container__content-inner-column--first">
            <!-- ADD MODULES HERE -->
            <!-- START TEXT - H4 MODULE-->
            <h3 class="text type-xlarge type-align-center gap-bottom-small">Green Dot Platinum Visa&reg; Credit Card
            </h3>
            <!-- END TEXT - H4 MODULE-->
            <!-- START TEXT - H4 MODULE-->
            <p class="text type-medium type-align-center">Establish or rebuild credit history with responsible use.
            </p>
            <!-- END TEXT - H4 MODULE-->

            <a href="https://secure.greendot.com/platinum/registration/sign-up-p1" target="_blank">
              <!-- START BUTTON MODULE-->
              <button class="btn btn--primary btn btn--width-medium center block">Apply Now
              </button>
              <!-- END BUTTON MODULE-->
            </a>

          </div>
          <div class="module-container__content-inner-column module-container__content-inner-column--second">
            <!-- ADD MODULES HERE -->
            <!-- START IMAGE - ONE THIRD MODULE-->
            <picture class="image">
              <source media="(min-width: 1144px)" srcset="/assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-340x191.jpg, /assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-680x382.jpg 2x">
              <source media="(min-width: 768px)" srcset="/assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-220x124.jpg, /assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-440x248.jpg 2x">
              <source media="(min-width: 375px)" srcset="/assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-340x191.jpg, /assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-680x382.jpg 2x">
              <source srcset="/assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-290x163.jpg, /assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-580x326.jpg 2x"><img
                src="/assets/img/secured-credit-card-get-greendot-platinum-visa-credit-card-340x191.jpg" alt="Secured Credit Card to fix build credit history - Greendot platinum visa credit card">
            </picture>
            <!-- END IMAGE - ONE THIRD MODULE-->

          </div>
        </div>
      </div>
    </section>
    <!-- END MODULE CONTAINER - TWO COLUMN BLOCK -->

  </main>
  <!-- START MODULE CONTAINER BLOCK -->
  <section class="module-container pad-top-zero pad-bottom-zero bg-color-dark">
    <div class="module-container__content">
      <div class="module-container__content-inner">
        <!-- START IMAGE - FULL MODULE-->
        <picture class="image gap-bottom-zero">
          <img src="https://ds.reson8.com/insights.gif?rand=[cache_buster]&t=0&pixt=resonate&advkey=0010M00001PHJlWQAX&opptykey=GDOC1017A&evkey=100207034&evtype=custom"
            style="height:1px;width:1px;" alt="">
        </picture>
        <!-- END IMAGE - FULL MODULE-->
      </div>
    </div>
  </section>
  <!-- END MODULE CONTAINER BLOCK -->

  <!-- PLACE MODAL MODULES HERE-->
  <!-- START MODAL - VIDEO MODULE-->
  <div class="modal js-modal modal--video" id="modal-video" data-video="youtube-SnEYtya5t7g">
    <button class="modal__close modal__close--outer js-modal-close" aria-label="Close modal">
      <svg class="modal__close-icon" aria-hidden="true">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
    <div class="modal__content js-modal-content">
      <div class="video">
        <div class="video__player js-video-player"></div>
      </div>
    </div>
    <div class="modal__success js-modal-success">
      <svg class="modal__success-icon" role="img" aria-label="Success icon">
        <use xlink:href="#icon-checkmark-circle"></use>
      </svg>
    </div>
  </div>
  <div class="modal-background js-modal-close"></div>
  <!-- END MODAL - VIDEO MODULE-->

  <!-- START MODAL - VIDEO MODULE-->
  <div class="modal js-modal modal--video" id="modal-philip" data-video="vimeo-257760209">
    <button class="modal__close modal__close--outer js-modal-close" aria-label="Close modal">
      <svg class="modal__close-icon" aria-hidden="true">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
    <div class="modal__content js-modal-content">
      <div class="video">
        <div class="video__player js-video-player"></div>
      </div>
    </div>
    <div class="modal__success js-modal-success">
      <svg class="modal__success-icon" role="img" aria-label="Success icon">
        <use xlink:href="#icon-checkmark-circle"></use>
      </svg>
    </div>
  </div>
  <div class="modal-background js-modal-close"></div>
  <!-- END MODAL - VIDEO MODULE-->

  <!-- START MODAL - VIDEO MODULE-->
  <div class="modal js-modal modal--video" id="modal-liza" data-video="vimeo-257764697">
    <button class="modal__close modal__close--outer js-modal-close" aria-label="Close modal">
      <svg class="modal__close-icon" aria-hidden="true">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
    <div class="modal__content js-modal-content">
      <div class="video">
        <div class="video__player js-video-player"></div>
      </div>
    </div>
    <div class="modal__success js-modal-success">
      <svg class="modal__success-icon" role="img" aria-label="Success icon">
        <use xlink:href="#icon-checkmark-circle"></use>
      </svg>
    </div>
  </div>
  <div class="modal-background js-modal-close"></div>
  <!-- END MODAL - VIDEO MODULE-->

  <!-- START MODAL - VIDEO MODULE-->
  <div class="modal js-modal modal--video" id="modal-michael" data-video="vimeo-257764211">
    <button class="modal__close modal__close--outer js-modal-close" aria-label="Close modal">
      <svg class="modal__close-icon" aria-hidden="true">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
    <div class="modal__content js-modal-content">
      <div class="video">
        <div class="video__player js-video-player"></div>
      </div>
    </div>
    <div class="modal__success js-modal-success">
      <svg class="modal__success-icon" role="img" aria-label="Success icon">
        <use xlink:href="#icon-checkmark-circle"></use>
      </svg>
    </div>
  </div>
  <div class="modal-background js-modal-close"></div>
  <!-- END MODAL - VIDEO MODULE-->

  <!-- START MODAL - ACCOUNT MODULE-->
  <div class="modal js-modal modal--account" id="modal-account">
    <header class="modal__header js-modal-header">
      <div class="modal__header-title js-modal-header-title">Modal Title</div>
      <button class="modal__close js-modal-close" aria-label="Close modal">
        <svg class="modal__close-icon" aria-hidden="true">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
    </header>
    <div class="modal__content js-modal-content">
      <div class="modal__logo"></div>
      <!-- ADD MODULES HERE -->
      <!-- START TEXT - H4 MODULE-->
      <h4 class="text type-large">Enter for a chance to win every week with ASAP Direct Deposit, <strong>plus a
          $1,500 Grand Prize</strong>.
      </h4>
      <!-- END TEXT - H4 MODULE-->
      <!-- START TEXT - PARAGRAPH MODULE-->
      <p class="text type-medium">You’re automatically entered to win a prize when you receive a payroll or
        government benefits direct deposit of $100 or more.
      </p>
      <!-- END TEXT - PARAGRAPH MODULE-->
      <!-- START TEXT - PARAGRAPH MODULE-->
      <p class="text type-medium"><a href="http://pages.email.greendot.com/spring#rules" target="_blank">Click here
          for official rules</a>
      </p>
      <!-- END TEXT - PARAGRAPH MODULE-->
    </div>
    <div class="modal__success js-modal-success">
      <svg class="modal__success-icon" role="img" aria-label="Success icon">
        <use xlink:href="#icon-checkmark-circle"></use>
      </svg>
    </div>
  </div>
  <div class="modal-background js-modal-close"></div>
  <!-- END MODAL - ACCOUNT MODULE-->
</div>